<%- include('partials/header') %>
<%- include('partials/nav') %>
  <main>
  <!-- Hero Section -->
  <section id="hero">
    <div class="hero-content">
      <h1>Welcome to SportsTech</h1>
      <p>Your journey to health starts here. Explore our story and find out what makes us your go-to fitness partner.</p>
    </div>
  </section>

   <!--Our Story Section-->
  <section id="our-story" class="light-section">
    <div class="content-wrapper">
      <div class="text-section">
        <h2>Our Story</h2>
        <p>Since 2024, SportsTech has been empowering individuals to lead healthier lives. We began as a humble local website for fitness and have since grown into a well-loved fitness community offering personalized programs, group classes, and expert guidance from dedicated trainers.
        Our mission is to inspire and support everyone—regardless of fitness level—to be the best version of themselves and to help people finding out about how much protien intake they should take.</p>
      </div>
      <div class="image-section">
        <img src="/images/Site.jpg" alt="Our Gym">
      </div>
    </div>
  </section>

  <!-- Mission Section -->
  <section id="mission" class="subtle-mission-bg">
    <h2>Our Mission</h2>
    <p>To provide a nurturing environment where everyone can unlock their fitness potential through top-tier training and a proper amount of protien and other nutrients intake.</p>
    <div class="mission-icons">
      <div class="icon-card">
        <img src="/images/innovation.png">
        <h3>Innovation</h3>
        <p>Cutting-edge workouts, backed by the latest research and technology.</p>
      </div>

      <div class="icon-card">
        <img src="/images/community.webp">
        <h3>Community</h3>
        <p>We build a supportive network of members and trainers to motivate each other.</p>
      </div>

      <div class="icon-card">
        <img src="/images/wellness.jpg">
        <h3>Wellness</h3>
        <p>Holistic fitness, focusing on mental, physical, emotional well-being and proper fulfillment of protien.</p>
      </div>
    </div>
  </section>

  <!-- Call to Action Section -->
  <section id="join-us" class="cta-bg">
    <h2>Join the SportsTech</h2>
    <p>Are you ready to make a change? Whether you're just starting out or aiming to hit new fitness milestones, we're here to help you succeed.</p>
    <a href="payments.html" class="btn">Get Started</a>
  </section>
  </main>
 <%- include('partials/footer') %>

</body>
</html>
